opencv-python==4.9.0.80
ultralytics==8.2.9
torch==2.2.2+cu118
torchsummary==1.5.1
torchaudio==2.2.2+cu118
torcheval==0.0.7
tqdm==4.66.4
soundfile==0.12.1
sounddevice==0.4.6
matplotlib==3.8.4
numpy==1.26.4
seaborn==0.13.2
folium==0.16.0
pyserial==3.5
jetson.gpio==2.1.6